/* Document
 * ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
   * ========================================================================== */
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Edge, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
   * ========================================================================== */
  
  /**
   * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
   */
  
  dl dl,
  dl ol,
  dl ul,
  ol dl,
  ul dl {
    margin: 0;
  }
  
  /**
   * Remove the margin on nested lists in Edge 18- and IE.
   */
  
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin: 0;
  }
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Correct the inheritance of border color in Firefox.
   * 3. Show the overflow in Edge 18- and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    color: inherit; /* 2 */
    height: 0; /* 1 */
    overflow: visible; /* 3 */
  }
  
  /**
   * Add the correct display in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
   * ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * Add the correct text decoration in Edge 18-, IE, and Safari.
   */
  
  abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /* Embedded content
   * ========================================================================== */
  
  /**
   * Add the correct display in IE 9-.
   */
  
  audio,
  video {
    display: inline-block;
  }
  
  /**
   * Add the correct display in iOS 4-7.
   */
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  /**
   * Remove the border on images within links in IE 10-.
   */
  
  img {
    border-style: none;
  }
  
  /**
   * Hide the overflow in IE.
   */
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  /* Tabular data
   * ========================================================================== */
  
  /**
   * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
   * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
   */
  
  table {
    border-color: inherit; /* 1 */
    text-indent: 0; /* 2 */
  }
  
  /* Forms
   * ========================================================================== */
  
  /**
   * Remove the margin on controls in Safari.
   */
  
  button,
  input,
  select {
    margin: 0;
  }
  
  /**
   * 1. Show the overflow in IE.
   * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
   */
  
  button {
    overflow: visible; /* 1 */
    text-transform: none; /* 2 */
  }
  
  /**
   * Correct the inability to style buttons in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * Show the overflow in Edge 18- and IE.
   */
  
  input {
    overflow: visible;
  }
  
  /**
   * 1. Correct the text wrapping in Edge 18- and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    white-space: normal; /* 1 */
  }
  
  /**
   * 1. Add the correct display in Edge 18- and IE.
   * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
   */
  
  progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }
  
  /**
   * Remove the inheritance of text transform in Firefox.
   */
  
  select {
    text-transform: none;
  }
  
  /**
   * 1. Remove the margin in Firefox and Safari.
   * 2. Remove the default vertical scrollbar in IE.
   */
  
  textarea {
    margin: 0; /* 1 */
    overflow: auto; /* 2 */
  }
  
  /**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * 1. Correct the odd appearance in Chrome, Edge, and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Safari.
   */
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */
  
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }
  
  /**
   * Remove the inner padding in Chrome, Edge, and Safari on macOS.
   */
  
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style upload buttons in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /**
   * Remove the inner border and padding of focus outlines in Firefox.
   */
  
  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus outline styles unset by the previous rule in Firefox.
   */
  
  :-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Remove the additional :invalid styles in Firefox.
   */
  
  :-moz-ui-invalid {
    box-shadow: none;
  }
  
  /* Interactive
   * ========================================================================== */
  
  /*
   * Add the correct display in Edge 18- and IE.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct styles in Edge 18-, IE, and Safari.
   */
  
  dialog {
    background-color: white;
    border: solid;
    color: black;
    display: block;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
  
  dialog:not([open]) {
    display: none;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Scripting
   * ========================================================================== */
  
  /**
   * Add the correct display in IE 9-.
   */
  
  canvas {
    display: inline-block;
  }
  
  /**
   * Add the correct display in IE.
   */
  
  template {
    display: none;
  }
  
  /* User interaction
   * ========================================================================== */
  
  /**
   * Add the correct display in IE 10-.
   */
  
  [hidden] {
    display: none;
  }
* {
  scrollbar-width: thin;
  scrollbar-color: #353535;
}

*::-webkit-scrollbar {
  width: 1.2rem;
  padding-right: 10px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(53, 53, 53, 0.2);
  opacity: 0.2;
  border-radius: 20px;
  scrollbar-gutter: 10px;
}

@keyframes changeBg {
  0% {
    background-image: url("/background.86da5b8f.webp");
  }
  25% {
    background-image: url("/background-1.0a3589ba.webp");
  }
  50% {
    background-image: url("/background-2.d4634e18.webp");
  }
  75% {
    background-image: url("/background-4.b1431bfc.webp");
  }
  100% {
    background-image: url("/background.86da5b8f.webp");
  }
}
html {
  font-size: 62.5%;
}
@media (min-width: 1024px) and (max-width: 1920px) {
  html {
    font-size: 58%;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1F1F1F;
  background-image: url("/background.86da5b8f.webp");
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  animation: changeBg linear 3s infinite;
  -webkit-animation: changeBg linear 3s infinite;
}
@media (max-width: 1023px) {
  body {
    height: fit-content;
    overflow-y: scroll;
  }
}

.app {
  width: 70%;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .app {
    display: block;
    width: 90%;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .app {
    width: 80%;
  }
}
.app h1 {
  font-size: 8.4rem;
  margin-bottom: 0;
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .app h1 {
    font-size: 6.8rem;
  }
}
@media (max-width: 1023px) {
  .app h1 {
    font-size: 6.2rem;
  }
}
.app h2 {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 4rem;
  line-height: 4rem;
}
.app h2 span {
  cursor: pointer;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.app h2 span:hover {
  animation-name: rotate-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  display: inline-block;
}
.app .title {
  margin-top: 30vh;
  max-width: 78rem;
  width: 50%;
  padding-right: 4rem;
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .app .title {
    margin-top: 20vh;
  }
}
@media (max-width: 1023px) {
  .app .title {
    width: 100%;
    margin-top: 6rem;
    padding-right: 0;
  }
}
.app .title .buttons {
  display: flex;
  align-items: center;
}
.app .title .buttons a {
  margin-right: 2rem;
}
.app .title .buttons .btn {
  background: #FFF;
  color: #000;
  font-size: 2.4rem;
  padding: 1rem 3rem;
  border-radius: 2.8rem;
  font-weight: 300;
  text-decoration: none;
}
.app .title .buttons .btn:hover {
  opacity: 0.6;
}
.app .title .buttons .icon:hover > svg {
  opacity: 1;
}
.app .title .buttons .icon svg {
  width: 3.5rem;
  opacity: 0.6;
}
.app .title .buttons .icon path {
  fill: #FFF;
}
@media (max-width: 430px) {
  .app .title .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .app .title .buttons div {
    margin-top: 2rem;
  }
}
.app .content-section {
  width: 50%;
  margin-top: 12rem;
}
@media (max-width: 1023px) {
  .app .content-section {
    width: 100%;
    margin-top: 6rem;
  }
}
.app .content-section .content-menu {
  font-size: 3.6rem;
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
}
@media (max-width: 1023px) {
  .app .content-section .content-menu {
    text-align: left;
    font-size: 2.8rem;
  }
}
.app .content-section .content-menu a {
  text-decoration: none;
  color: #FFF;
  opacity: 0.6;
  font-weight: 300;
  margin-left: 1rem;
}
.app .content-section .content-menu a.active {
  opacity: 1;
}
.app .content-section .content-menu a:hover {
  opacity: 1;
}
.app .content-section .content {
  width: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
  transition: opacity 1s ease;
  opacity: 0;
  height: 0;
}
@media (max-width: 1023px) {
  .app .content-section .content {
    padding-right: none;
    padding-bottom: 0;
    height: auto;
  }
}
.app .content-section .content.active {
  opacity: 1;
  height: -webkit-fill-available;
  height: fill-available;
  padding-bottom: 12rem;
}
.app .content-section .content .block {
  background: rgba(53, 53, 53, 0.35);
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
  max-width: 70rem;
  padding: 8rem 4rem;
  border-radius: 1.4rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .app .content-section .content .block {
    max-width: 100%;
  }
}
.app .content-section .content .block h3 {
  font-size: 2.4rem;
  margin-top: 0;
}
.app .content-section .content .block h4 {
  font-size: 2rem;
  font-weight: 200;
  margin-top: -0.75rem;
}
.app .content-section .content .block p, .app .content-section .content .block ul {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.25rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}
.app .content-section .content .block ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.app .content-section .content .block ul li {
  margin: 1rem 0;
}
.app .content-section .content .block ul li::before {
  content: "- ";
}
.app .content-section .content .block .tag {
  font-size: 1.6rem;
  font-weight: 300;
  border: 0.1rem solid #FFF;
  border-radius: 2.8rem;
  padding: 1rem 2.5rem;
  margin-right: 2rem;
  display: inline-block;
  margin-top: 2rem;
  opacity: 0.6;
}

/*# sourceMappingURL=/2021-Portfolio.e31bb0bc.css.map */